@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-family: 'Shadows Into Light Two', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
body {
    background-color: #FFCF70;
}

img{
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;

}

header .logo a{
    font-size: 30px;
    color: white;
    padding: 15px 30px;

}

.header .logo a span {
    color: orange;
}
